ANTHROPIC_API_KEY=your_claude_api_key
DB_HOST=localhost
DB_PORT=3308
DB_NAME=visaflow_db
DB_USER=root
DB_PASSWORD=your_db_password
SMTP_HOST=smtp.gmail.com
SMTP_PORT=500
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_gmail_app_password
HR_EMAIL=hr@company.com
ALERT_DAYS_THRESHOLD=90
